<div id="navBar" class="collapse show">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00004d">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" width="50" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse show navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" type="submit" routerLink="/editor">Create</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" type="submit" routerLink="/mod-browser/1">Browse</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" type="submit">Forum</a>
        </li>

      </ul>
      <div class="dropdown-container position-relative">
        <button class="btn btn-outline-danger my-2 mr-sm-4" type="button" id="searchMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>
        </button>
        <div class="dropdown-menu my-2 my-lg-0 position-absolute p-3 bg-dark" aria-labelledby="searchMenuButton"
             style="top: 100%">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (change)="findByTitle($event.target.value)">
        </div>
      </div>
      <app-navbar-profile-section></app-navbar-profile-section>
    </div>
  </nav>
</div>
